h4, p {
  color: white;
}

div.conteiner {
  position: fixed;
  z-index: 1;
  height: 100%;
  background-color: rgba(71, 129, 193, 0.8);
  margin-top: 50px;
  width: 400px;
  box-sizing: border-box;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(-400px);
  opacity: 0;
  top: 0;
  visibility: hidden;

  &>div {
    padding-top: 30px;
    width: 80%;
    height: 85%;
    overflow: scroll;
    margin: 0 auto;
    &::-webkit-scrollbar{
      display: none;
    }

    &>div:not(:last-of-type) {
      margin-bottom: 50px;
    }

    &>div:last-of-type input {
      margin-bottom: 20px;

      &~div {
        * {
          display: inline-block;
        }

        button {
          float: right;
        }
      }
    }

    &>div {
      &>h4 {
        margin-bottom: 20px;
      }
    }
  }
}

.open-weather-link {
  bottom: 55px;
  position: fixed;
  right: 10px;

  a {
    text-decoration: none;

    &:hover {
      color: rgba(136, 141, 137, 0.5);
    }
  }
}

span {
  padding-right: 15px;
}

@keyframes mymove {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.success {
  color: green;
  animation: mymove 5s;
}

.error {
  color: red;
  animation: mymove 5s;
}

@media only screen and (max-width: 400px) {
  div.conteiner {
    width: 100%;
  }
}
