<div class="conteiner" #conteiner id="s">
  <div>
    <div>
      <h4>Find city:</h4>
      <p-autoComplete [(ngModel)]="city" (onFocus)="startChangeDetection = true;" (onBlur)="hideMap()"  styleClass="p-view" (onSelect)="addCitytoList()" [suggestions]="filteredCities"
        (completeMethod)="filterCities($event)" field="name" [size]="30" placeholder="Add city" [minLength]="1">
      </p-autoComplete>
    </div>
    <div>
      <h4>Select city:</h4>
      <p-listbox [(ngModel)]="selectedCity" [options]="citesList" styleClass="p-view" [disabled]="!isAnyCity" (onClick)=showWeather($event)>
        <ng-template let-city let-i="index" pTemplate="item">
          <div>
            <span>{{city.label}}</span>
            <button *ngIf="isAnyCity"  pButton type="button" icon="pi pi-times" (click)="deleteCity($event, city)" class="ui-button-danger" iconPos="right"></button>
          </div>
        </ng-template>
      </p-listbox>
    </div>
    <div>
      <h4>Change access key:</h4>
      <input type="text" pInputText [(ngModel)]="key" class="p-view" placeholder="Enter new key" />
      <p *ngIf="infoSuccess" class="success" >Key has been changed.</p>
      <p *ngIf="infoError" class="error">Specified key is invalid.</p>
      <button pButton type="button" label="Change" (click)="changeKey($event)"></button>
    </div>
  </div>
</div>
