<div>
  <header>
    <button type="button" (click)="slideBar.toggleSlideBar(); toggleSection()"
      class="btn btn-default btn-sm hamburger hamburger--arrowalt js-hamburger"
      [ngClass]="{'is-active': isSlideBarOpen}">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </header>
  <div>
    <nav>
      <app-aside-panel #slideBar (showMapEvent)="setMap($event); $event == false ? op.hide($event) : op.show($event) "
        (newWeatherIdEvent)="current.onNewWeatherIdEvent($event); fiveDay.onNewWeatherIdEvent($event)">
      </app-aside-panel>
    </nav>
    <p-overlayPanel #op [style]="{'width':'500px','height':'400px', 'top': '450px', 'left': '30px'}">
      <p>{{data.name}}</p>
      <p>{{data.country}}</p>
      <ng-template app-map></ng-template>
    </p-overlayPanel>
    <section #currentSection>
      <app-current-weather #current></app-current-weather>
    </section>
    <section #fiveDaySection>
      <app-five-day-weather #fiveDay></app-five-day-weather>
    </section>
  </div>
</div>
