p {
  margin: 0;
  padding: 2px;
}

h5 {
  margin: 0;
}

.table-div {
  margin-top: auto;
  margin-bottom: 20px;
}

th > img{
  margin-left: 5px;
}

.no-data-text {
  margin: 0 auto;
  width: fit-content;
}

p-gmap{
  height: 80%;
}

@media only screen and (max-width: 700px) {
  p-gmap{
    width: 100%;
    left: -28px;
    position: relative;
    padding: 0;
  }

  .weather-details{
    display: block;
    width: 100%;
    &>div{
      width: 50%;
      display: inline-block;
    }
  }
  .map-box{
    width: 100%;
  }
}
