* {
  color: white;
}

.weather-box > div{
  display: inline-block;
  width: 100%;
  &:first-of-type{
    margin-left: 10px;
    width: 30%;

    & > div {
      display: inline-block;
    }
  }

  &.map {
    width: 65%;
    height: 250px;
    padding: 10px 0 0 50px;
  }
}

.weather-box, .weather-box ~ div {
  display: inline-block;
  width: 100%;
}


