<div *ngIf="!isAvailableData">
  <p>
    Wybierz miasto by wyświetlić dane.
  </p>
</div>
<div *ngIf="isAvailableData">
  <div class="weather-box ">
    <h1>Current weather</h1>
    <hr>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-4 ui-g">
        <p class="ui-g-12">{{dayWeather.date}}</p>
        <p class="ui-g-12">{{dayWeather.mainDescription}}</p>
        <div class="ui-g-12 ui-md-5">
          <img src={{dayWeather.picture}}>
          <h1>{{dayWeather.temp}}°C</h1>
        </div>
        <div class="ui-g-12 ui-md-7 table-div">
          <table>
            <tr *ngIf="dayWeather.wind">
              <td>Wind</td>
              <th>{{dayWeather.wind.speed}} km/h
                <img #arrow src="../../assets/left-arrow.png">
              </th>
            </tr>
            <tr>
              <td>Pressure</td>
              <th>{{dayWeather.pressure}} hPa</th>
            </tr>
            <tr>
              <td>Humidity</td>
              <th>{{dayWeather.humidity}}%</th>
            </tr>
            <tr *ngIf="dayWeather.clouds">
              <td>Clouds</td>
              <th>{{dayWeather.clouds.all}}%</th>
            </tr>
            <tr *ngIf="dayWeather.visibility">
              <td>Visibility</td>
              <th>{{dayWeather.visibility}} m</th>
            </tr>
            <tr *ngIf="dayWeather.rain">
              <td>Rain</td>
              <th>{{dayWeather.rain['1h'] ? dayWeather.rain['1h']:  dayWeather.rain['3h'] }}
                mm/cm3
              </th>
            </tr>
            <tr *ngIf="dayWeather.snow">
              <td>Rain</td>
              <th>{{dayWeather.snow['1h'] ? dayWeather.snow['1h'] : dayWeather.snow['3h'] }} mm/cm3</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-8 ui-g">
        <h5 class="ui-g-12 ui-lg-6">City: <b>{{dayWeather.name}}</b></h5>
        <h5 class="ui-g-12 ui-lg-6">Country: <b>{{dayWeather.country}}</b></h5>
        <p-gmap  class="ui-g-12" #gmap *ngIf="isMapActive" [styleClass]="'ui-g-12'" [style]="{'height':'165px'}" [options]="options">
        </p-gmap>
      </div>
    </div>
  </div>
</div>
