<div *ngIf="!isAvailableData && !isStart">
  <h1 class="no-data-text">
    <b>Select city to display data.</b>
  </h1>
</div>
<div *ngIf="isAvailableData">
  <div class="weather-box ">
    <h1>Current weather</h1>
    <hr>
    <div class="ui-g">
      <div class="weather-details ui-g-12 ui-sm-12 ui-md-4 ui-g">
        <p class="ui-g-12"><b>{{dayWeather.date}}</b></p>
        <p class="ui-g-12">{{dayWeather.mainDescription}}</p>
        <div class="ui-md-12 ui-lg-5">
          <img src={{dayWeather.picture}}>
          <h1>{{dayWeather.temp}}°C</h1>
        </div>
        <div class="ui-md-12 ui-lg-7 table-div">
          <table>
            <tr *ngIf="dayWeather.wind">
              <td>Wind</td>
              <th [ngSwitch]="isBlackText">{{dayWeather.wind.speed}} km/h
                <img *ngSwitchCase="true" #arrow src="../../assets/left-arrow.png">
                <img *ngSwitchDefault #arrow src="../../assets/left-arrow-white.png">
              </th>
            </tr>
            <tr>
              <td>Pressure</td>
              <th>{{dayWeather.pressure}} hPa</th>
            </tr>
            <tr>
              <td>Humidity</td>
              <th>{{dayWeather.humidity}}%</th>
            </tr>
            <tr *ngIf="dayWeather.clouds">
              <td>Clouds</td>
              <th>{{dayWeather.clouds.all}}%</th>
            </tr>
            <tr *ngIf="dayWeather.visibility">
              <td>Visibility</td>
              <th>{{dayWeather.visibility}} m</th>
            </tr>
            <tr *ngIf="dayWeather.rain">
              <td>Rain</td>
              <th>{{dayWeather.rain['1h'] ? dayWeather.rain['1h']:  dayWeather.rain['3h'] }}
                mm/cm3
              </th>
            </tr>
            <tr *ngIf="dayWeather.snow">
              <td>Rain</td>
              <th>{{dayWeather.snow['1h'] ? dayWeather.snow['1h'] : dayWeather.snow['3h'] }} mm/cm3</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="map-box ui-g-12 ui-sm-12 ui-md-8 ui-g">
        <h5 class="ui-g-6">City: <b>{{dayWeather.name}}</b></h5>
        <h5 class="ui-g-6">Country: <b>{{dayWeather.country}}</b></h5>
        <p-gmap class="ui-g-12" #gmap *ngIf="isMapActive" [styleClass]="'ui-g-12'"
          [style]="{'height':'100%', 'border': '1px black solid'}" [options]="options">
        </p-gmap>
      </div>
    </div>
  </div>
</div>
